@charset "UTF-8";
@import url(colors.css);
@import url(texttypes.css);

/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-style: normal;
    font-size: 16px;
}
#root {
    margin: 0 auto;
    max-width: 23.438rem;
    padding-bottom: .2rem;
}
main {
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* RWD: */
img {
    width: 100%;
    height: auto;
    display: block;
}
.grid {
    display: grid;
}
.flex {
    display: flex;
}
.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
.flex3 {
    flex: 3;
}
.flex4 {
    flex: 4;
}
.flex5 {
    flex: 5;
}
.flex6 {
    flex: 6;
}

/* Dark mode */

.darkmode {
    margin-top: 10px;
    grid-column: 3;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.375rem;
  height: 1.313rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--link-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.125rem;
    width: 1.125rem;
    left: 0.125rem;
    bottom: 0.125rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #797777;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #797777;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 6.25rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* BUTTONS */

  button {
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid var(--link-color);
    background-color: var(--white-color);
    color: var(--link-color);
    border-radius: 100px;
  }